version: '3.8'

services:
  mongodb:
    image: mongo:latest
    container_name: mongodb-supermercado
    restart: always
    ports:
      - "27017:27017"
    environment:
      MONGO_INITDB_ROOT_USERNAME: admin
      MONGO_INITDB_ROOT_PASSWORD: senha123
      MONGO_INITDB_DATABASE: supermercado
    volumes:
      - mongodb_data:/data/db
    networks:
      - supermercado-network

  mongo-express:
    image: mongo-express:latest
    container_name: mongo-express
    restart: always
    ports:
      - "8081:8081"
    environment:
      ME_CONFIG_MONGODB_ADMINUSERNAME: admin
      ME_CONFIG_MONGODB_ADMINPASSWORD: senha123
      ME_CONFIG_MONGODB_URL: mongodb://admin:senha123@mongodb:27017/
      ME_CONFIG_BASICAUTH: false
    depends_on:
      - mongodb
    networks:
      - supermercado-network

volumes:
  mongodb_data:
    driver: local

networks:
  supermercado-network:
    driver: bridge